accelerate==0.21.0 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.8.5 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
beam-sdk==0.14.6 ; python_version >= "3.10" and python_version < "3.12"
bitsandbytes==0.41.1 ; python_version >= "3.10" and python_version < "3.12"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
comet-llm==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
comet-ml==3.33.10 ; python_version >= "3.10" and python_version < "3.12"
configobj==5.0.8 ; python_version >= "3.10" and python_version < "3.12"
croniter==1.4.1 ; python_version >= "3.10" and python_version < "3.12"
dataclasses-json==0.5.14 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.12"
dulwich==0.21.6 ; python_version >= "3.10" and python_version < "3.12"
einops==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
everett[ini]==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "3.12"
fire==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
flatten-dict==0.4.2 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2023.9.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==2.0.2 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio-tools==1.58.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.58.0 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==0.17.3 ; python_version >= "3.10" and python_version < "3.12"
httpx[http2]==0.24.1 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub==0.16.4 ; python_version >= "3.10" and python_version < "3.12"
hyperframe==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.4 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.19.0 ; python_version >= "3.10" and python_version < "3.12"
langchain==0.0.285 ; python_version >= "3.10" and python_version < "3.12"
langsmith==0.0.35 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
marshmallow-dataclass==8.6.0 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==3.18.0 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.12"
numexpr==2.8.5 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.12"
peft==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.24.3 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.12"
pydantic==1.10.12 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.12"
python-box==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
qdrant-client==1.1.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "3.12"
regex==2023.8.8 ; python_version >= "3.10" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rich==13.5.2 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
safetensors==0.3.3 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.11.2 ; python_version >= "3.10" and python_version < "3.12"
semantic-version==2.10.0 ; python_version >= "3.10" and python_version < "3.12"
sentry-sdk==1.30.0 ; python_version >= "3.10" and python_version < "3.12"
setuptools==68.2.0 ; python_version >= "3.10" and python_version < "3.12"
simplejson==3.19.1 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.20 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.12"
termcolor==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
tokenizers==0.13.3 ; python_version >= "3.10" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.12"
transformers==4.33.1 ; python_version >= "3.10" and python_version < "3.12"
typeguard==2.13.3 ; python_version >= "3.10" and python_version < "3.12"
types-requests==2.31.0.2 ; python_version >= "3.10" and python_version < "3.12"
types-urllib3==1.26.25.14 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.16 ; python_version >= "3.10" and python_version < "3.12"
validators==0.20.0 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.3.3 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.12"
wurlitzer==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
